.body_inner {
    max-width: 1320px;
    margin: 0 auto;
    padding: 30px 20px;
}

.main_container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.body_inner .main_container .left_container {
    width: 50%;
    padding-right: 15px;
    position: relative;
}


.body_inner .main_container .right_container {
    width: 49%;
}

.body_inner .right_container .container_1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}



.body_inner .right_container .container_1 .price_container .motorcycle_name {
    font-size: 1.3em;
    font-weight: 500;
    /* margin-bottom: 2px; */
    color: #212529;
    line-height: 20px;
    font-family: "Teko", sans-serif;
    letter-spacing: 1px;
}

.body_inner .right_container .container_1 .price_container .motorcycle_price {
    font-size: 1em;
    font-weight: 400;
    font-weight: 600;
    color: #212529;
    margin-bottom: 3px;
}

.body_inner .right_container .container_1 .price_container .helper_text {
    font-size: 0.6em;
    font-weight: 400;
    color: #4e54c8;
    font-weight: 600;
    
}

.share_like_container button {
    color: rgba(0, 0, 0, 0.54);
    border: 1px solid #d5dadf;
    background: #fff;
    width: 48px;
    height: 48px;
    border-radius: 4px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    padding-top: 3px;
}

.share_like_container button:hover {
    background: rgb(243 243 243 / 70%);
}

.share_like_container button:first-child {
    margin-right: 7px;

}

.body_inner .right_container .container_2 {
    box-shadow: 0px 0px 7px 0px #00619733;

    font-size: 20px;
    margin: 10px 0 10px 0;
    padding: 12px 10px 12px 20px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #d5dadf;
    align-items: center;
    cursor: pointer;
    position: relative;
    
}

.body_inner .right_container .container_2  .variant_box{
    display: flex;
    justify-content: space-between;
}

.body_inner .right_container .container_2  .variant_dropdown{
    position: absolute;
    width: 101%;
    left: -1px;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    visibility: hidden;
    top: calc(100% + 10px);
    background: #1530f5b8;
    border: 2px solid #fff;
    z-index: 3;
}

.body_inner .right_container .container_2 .variant_dropdown.slide{
    visibility: visible;
    animation: slide 0.2s  linear;
}

@keyframes slide {
    0%{
            top: calc(100% + 60px);
    }

    100%{
            top: calc(100% + 10px);
    }
}

.body_inner .right_container .container_2 .variant_dropdown ul{
    list-style: none;
    border-radius: 10px;
}

.body_inner .right_container .container_2 .variant_dropdown ul li{
    list-style: none;
    font-size: 14px;
    font-weight: 500;
    color: #fff;

    padding: 14px;
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
}

.body_inner .right_container .container_2 .variant_dropdown ul li:last-child{
    border-bottom: none
}

.variant_droodwon_backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: none;
    z-index: 2;
}

.body_inner .right_container .container_2:hover {
    background: rgb(243 243 243 / 70%);

}

.body_inner .right_container .container_2 span {
    display: flex;
    font-size: 0.8em;
    font-weight: 600;
    color: #212529;
    align-items: center;
}

.body_inner .right_container .container_2 span p {
    display: flex;
    font-size: 0.8em;
    margin-bottom: -0.25em;
    font-weight: 400;
    color: #212529;
}

.body_inner .right_container .container_2 svg {
    color: #d5dadf;
    font-size: 22px;
}

.body_inner .right_container .container_3 {
    font-size: 20px;
    margin: 10px 0;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #d5dadf;
    box-shadow: 0px 0px 7px 0px #00619733;

}

.body_inner .right_container .container_3 .head {
    font-family: "Teko", sans-serif;
     letter-spacing: 0.5px;
    padding: 12px 20px;
    color: #fff;
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
    background: rgb(242, 246, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 0.8em;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

.body_inner .right_container .container_3 .body {
    padding: 14px;
    display: flex;
}

.body_inner .right_container .container_3 .body.first_body {
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
}

.body_inner .right_container .container_3 .body .key_spec_container {
    width: calc(100%/3);
    display: flex;
    align-items: center;
    gap: 10px;
}

.body_inner .right_container .container_3 .body .key_spec_container img {
    width: 25px;
}

.body_inner .right_container .container_3 .body .key_spec_container .single_spec_container p {
    font-weight: 400;
    font-size:0.7em;
    color: #767f88;
    font-weight: 500;
}

.body_inner .right_container .container_3 .body .key_spec_container .single_spec_container span {
    font-size:0.7em;
    font-weight: 500;
    color: #212529;
    font-weight: 500;
}


.body_inner .right_container .container_4 {
    box-shadow: 0px 0px 7px 0px #00619733;

    margin: 10px 0;
    border-radius: 10px;
    font-size: 20px;
    background: #fff;
    border: 1px solid #d5dadf;
    transition: height 1s ease;
    
}

.body_inner .right_container .container_4 .head,
.body_inner .container_5 .container_5_head {
    font-family: "Teko", sans-serif;
    letter-spacing: 0.5px;
    color: #fff;
    background: rgb(242, 246, 255);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 12px 20px;
    font-size: 0.8em;
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container_4 ul {
    list-style: none;
}

.container_4 ul li {
    padding: 14px;
    display: flex;
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
    font-size: 0.8em;
    align-items: center;
}

.container_4 ul li .single_feature_container {
    /* width: 40%; */
    display: flex;
    align-items: center;
    gap: 3px;
}

.container_4 ul li .single_feature_container.feature_name{
    color: #757575;  
    /* width: 60%; */
}

.container_4 ul li .single_feature_container img{
    width: 15px;
    margin: 0 5px;
    margin-top: 3px;
}

.see_more_btn {
    background: none;
    border: none;
    color: #4e54c8;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}


 .container_5 {
    margin: 10px 0;
    border-radius: 10px;
    background: #fff;
    border: 1px solid #d5dadf;
    font-size: 20px;
    box-shadow: 0px 0px 7px 0px #00619733;

}

 .container_5_body_inner .head {
    background: rgb(242, 246, 255);
    padding: 12px 20px;
    border-bottom: 1px solid rgba(213, 218, 223, 0.4);
    border-top: 1px solid rgba(213, 218, 223, 0.4);
    color: #4e54c8;
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}

.container_5_body_inner .head img {
    width: 25px;
    margin-top: 1px;
}

.container_5_body_inner ul {
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.container_5_body_inner ul li {
    width: calc(100% /3);
    padding: 10px 14px;
    font-size: 0.75em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    word-break: break-all;

}

.container_5_body_inner ul li span {
    color: #757575;
}

.container_5_body_inner ul li img {
    width: 15px;
    margin:  0  5px -3px  5px ;
}



@media (max-width: 1024px) {
    .body_inner .main_container .left_container {
        width: 100%;
        padding-right: 0px;
        position: relative;
    }


    .body_inner .main_container .right_container {
        width: 100%;
    }

}

@media (max-width : 576px) {

    .body_inner {
        padding: 25px 15px;
    }
    

    .body_inner .right_container .container_3 .body .key_spec_container{
        gap: 5px    ;
    }

    .body_inner .right_container .container_3 .body{
        padding: 8px;
    }

    .body_inner .right_container .container_3 {
        font-size: 17px;

    }

    .body_inner .right_container .container_4 {
        font-size: 17px;
    }

    .container_4 ul li {
        padding: 10px;
      
    }
    .container_5_body_inner ul li{
        width: calc(100% /1);
    }


    .container_5 {
        font-size: 17px;
    }
}