@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior:smooth;
}



html{
  font-family: "Poppins", sans-serif;
}

section{
  scroll-snap-align: start;
  min-height: 100dvh;

}


.load-wraper{
  position: relative;
  background-color: rgb(246 246 246);
  z-index: 44;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 8px;
}

.load-wraper.image_display{
  height: 100%;
  width: 100%;
}

.load-wraper.price_display{
  height: 80px;
  width: 100%;
}

.load-wraper.variant_display{
  height: 50px;
  width: 100%;
  margin-top: 12px;
}

.load-wraper.key_spec_display{
  height: 180px;
  width: 100%;
}

.load-wraper.feature_display{
  height: 280px;
  width: 100%;
}
.activity{
  position: absolute;
  left: -45%;
  height: 100%;
  width: 45%;
  background-image: linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -moz-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  background-image: -webkit-linear-gradient(to left, rgba(251,251,251, .05), rgba(251,251,251, .3), rgba(251,251,251, .6), rgba(251,251,251, .3), rgba(251,251,251, .05));
  animation: loading 1s infinite;
  z-index: 45;
}

.body_inner {
  max-width: 1320px;
  margin: 0 auto;
  padding: 30px 20px;
}

@keyframes loading {
  0%{
    left: -45%;
  }
  100%{
    left: 100%;
  }
}


@media (max-width : 576px) {
  .load-wraper.image_display{
    height: 300px;
  }
}