.search_section{
  height: 100dvh;
  background: url('./../public/search_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  position: relative;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.search_section .search_container{
  position: relative;
 /* /* top: 50%; */
 left: 5%;
  color: #FFFF;
  width: 450px;
  background-color: rgba(200, 210, 220, 0.1);
  backdrop-filter: blur(1px);
  padding: 20px;
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}


.search_container input{
  width: 100%;
  background: none;
  padding: 15px;
  margin-top: 10px;
  color: #ffff;
  border: none;
  border-radius: 5px;
  /* box-shadow: 2px 0px 32px 0px rgba(200, 210, 220, 0.2) inset; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.search_container input:focus{
outline: none;
}

.search_container .heading_search{
  position: absolute;
  font-size: 1.2em;
  top: -13px;
  font-weight: 600;
}

.search_wrapper {
  position: relative;
}

.search_container .search_wrapper img{
  position: absolute;
  right: 10px;
  width: 20px;
  top: 45%;
  cursor: pointer;
}

.search_container .search_wrapper img:hover{
 transform: scale(1.2);
 transition: 0.1s ease;
}

.search_container .search_wrapper .search_placeholder{
  position: absolute;
  top: 24px;
  left: 17px;
  font-size: 0.8em;
  opacity: 0.5;
}


.search_container .search_result_container {
  transition:height 0.3s ease;
  overflow: hidden;
  
}

.search_container .search_result_container ul{
  list-style: none;
  margin: 10px;
}

.search_container .search_result_container ul li{
  font-size: 0.7em;
  height: 40px;
  display: flex;
  align-items: center;
  padding:  0 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(142, 142, 142, 0.5) ;
}

.search_container .search_result_container ul li a{
color: #fff ;
text-decoration: none;
}

.search_container .search_result_container ul li:hover{
 background: rgba(200, 210, 220, 0.3);
}

.search_bikes_by_container .title span{
   /* color: #4e54c8; */
}

.search_bikes_by_container .btn_container{
   display: flex;
   gap: 10px;
   margin-top: 20px;
}

.search_bikes_by_container .btn_container button{
  box-shadow: 0px 0px 7px 0px #4e54c82f;

 font-weight: 600;
  height: 40px;
  width: 200px;
  /* border-radius: 5px; */
  cursor: pointer;
  border: none;
  border-bottom: 3px solid #4e54c8;
  background: none;  /* fallback for old browsers */
}

.search_bikes_by_container .btn_container button.active{
  box-shadow: 0px 0px 7px 0px #4e54c82f;
 font-weight: 600;
  height: 40px;
  width: 200px;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
}

.search_bikes_by_container .brand_container{
  border-radius: 5px;
    box-shadow: 0px 0px 7px 0px #4e54c82f;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    background: #e1e1e175;
}

.search_bikes_by_container .brand_container .brand_card{
  cursor: pointer;
  box-shadow: 0px 0px 7px 0px #4e54c82f;
  width: 19%;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #d5dadf; */
  border-radius: 5px;
  gap: 5px;
  padding: 10px;
  margin-bottom: 5px;
}


.search_bikes_by_container .brand_container .brand_card img{
  width: 60%;
}

.search_bikes_by_container .brand_container .brand_card p{
   font-weight: 600;
}


@media (max-width: 576px) {
  .search_section{
    justify-content: center;
    background-position: right;
  }
  .search_section .search_container{
    width: 97%;
    left: auto;
  }
  .search_bikes_by_container .brand_container{
      padding: 10px;
  }

  .search_bikes_by_container .brand_container .brand_card{
    width: 49%;
  }

}