.image_display_container{
    display: flex;
    /* border: 1px solid red; */
    gap: 10px;
    position: absolute;
    padding-right: 15px;
    bottom: 10px;
    width: 100%;
    flex-direction: column-reverse;
    /* margin-bottom: 10px; */
}

.image_display_container.sticky{
    position: sticky;
    top: 100px;
    padding-right: 0;
}

.image_display_container .image_list_wrapper .images_list{
    /* max-height: calc(100vh - 125px);  */
    max-height: 500px;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    /* width: 135px; */
    position: relative;
    display: flex;
    gap: 10px;
}

.image_display_container .image_list_wrapper{
    position: relative;
    /* min-height: calc(100vh - 125px);  */
    min-height: 90px;
}

.image_display_container .image_list_wrapper  .up_btn {
   position: absolute;
   top: 0;
   left: 0;
   /* width: 90px; */
   height: 90px;
   background: rgb(243 243 243 / 70%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.image_display_container .image_list_wrapper  .down_btn {
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 90px;
    top: 0;
    background: rgb(243 243 243 / 70%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
 }

.image_display_container .image_list_wrapper .images_list .single_Image_container{
    width: 90px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 5px;
    transition: 0.2s ease;
}

.image_display_container .image_list_wrapper .images_list .single_Image_container.active{
    /* border: 2px solid rgb(109, 127, 249) */
}

.image_display_container .image_list_wrapper .images_list .single_Image_container:hover{
   transform: scale(0.96);
}

.image_display_container .image_list_wrapper .images_list .single_Image_container .single_image{
    width: 87px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.image_display_container .image_list_wrapper .images_list .single_Image_container .single_image.active{
    border: 2px solid rgb(109, 127, 249)
}

.image_display_container .main_image{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    min-height: 200px;
}

.image_display_container .main_image .left_btn{
    position: absolute;
    left: 5px;
    height: 40px;
    width: 40px;
    background: rgb(243 243 243 / 70%);
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.image_display_container .main_image .right_btn{
    position: absolute;
    right: 5px;
    height: 40px;
    width: 40px;
    background: rgb(243 243 243 / 70%);
    border-radius: 4px;
    border: none;   
    cursor: pointer;
    /* box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.3); */
}

.image_display_container .main_image .count_display{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: rgb(243 243 243 / 70%);
    border-radius: 4px;
    padding: 7px 10px;
    color: #767f88;
}

.image_display_container .main_image img{
    width: 100%;
    /* height: 100%;     */
    object-fit: cover;
    border-radius: 10px;
    
}




@media (max-width :1024px) {

    .image_display_container{
        margin-bottom: 20px;
        width: 100%;
        position: relative;
        padding-right: 0;
    }

    .image_display_container.sticky{
        position: relative;
        top: 0;
     
    }
    
}

@media (max-width: 576px) {
    .image_display_container {
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }

    .image_display_container .image_list_wrapper{
        min-height: 80px;
    }

    .image_display_container .image_list_wrapper .images_list{
        display: flex;
        gap: 10px;


    }

    .image_display_container .image_list_wrapper .images_list .single_Image_container img{
        width: 78px;
        height: 100%;
    }

    .image_display_container .image_list_wrapper .images_list .single_Image_container{
        width: 80px;
        height: 80px;
    }

    /* .image_display_container .image_list_wrapper .down_btn{
        display: none;
    }

    .image_display_container .image_list_wrapper .up_btn{
        display: none;
    } */
}
