.nav {
    position: fixed;
	transition: backdrop-filter 0.3s ease;
	display: flex;
	background-color: rgba(200, 210, 220, 0.2);
	padding: 0px 10px;
	justify-content: space-between;
	z-index: 1;
	backdrop-filter: blur(
		2px
	);
     /* Disable this to have a Macos-like top bar
	border-radius: 0px 0px 10px 10px;
	border-top: none;
	margin-left: 50px;
	margin-right: 50px;*/
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 1px 10px 10px rgba(0, 20, 50, 0.1);
	min-height: 65px;
	width: 100vw;
	align-items: center;
}

.nav:hover {
	backdrop-filter: blur(8px);
}

.nav a {
	z-index: 2;
	transition: border 0.2s ease;
	text-decoration: none;
	color: white;
	padding: 15px;
	padding-bottom: 3px;
	padding-top: 3px;
	margin-left: 5px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 999px;
}

.nav a:hover {
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 999px;
	backdrop-filter: blur(8px);
}

.nav .logo {
    height: 40px;
}


@media (max-width: 576px) {
	.link_container{
		display: none;
	}
}
